<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/style3.css}" />
    <link rel="stylesheet" th:href="@{/globals.css}" />
    <title>CCTV View</title>
</head>
<body>
<div class="profile">
    <div class="div">
        <div class="overlap-group">
            <img class="side" th:src="@{/cctv/menu1.svg}"/>
            <div class="PHILIPPINE-NATIONAL">PHILIPPINE NATIONAL<br />ROAD WATCH</div>
            <img class="logo" th:src="@{/cctv/logop.svg}" />
            <div class="overlap">
                <div class="text-wrapper">SATELLITE</div>
                <div class="text-wrapper-3">PROFILE</div>
                <div class="text-wrapper-2">TRACKER</div>
                <div class="projects">Projects</div>
                <div class="cv">CCTV View</div>
            </div>
            <div class="menu">
                <img class="yellow" th:src="@{/cctv/yellow.svg}"/>
                <img class="tracker" th:src="@{/cctv/MenuW2.svg}"/>
                <img class="satellite" th:src="@{/cctv/MenuW3.svg}"/>
                <img class="line" th:src="@{/cctv/line.svg}"/>
            </div>
            <div class="overlap-2">
                <img class="icon" th:src="@{/cctv/icon3.svg}" />
                <img class="img" th:src="@{/cctv/icon2.svg}" />
                <img class="icon-2" th:src="@{/cctv/icon1.svg}" />
            </div>
            <div class="overlap-4">
                <div class="text-wrapper-6">CCTV VIEW</div>
                <div class="header">Highways</div>
                <div class="list1">CDO Coastal</div>
                <div class="list2">Iligan-CDO-Butuan</div>
                <div class="list3">Kauswagan Highway</div>
                <div class="list4">Macapagal Drive</div>
                <div class="list5">Masterson Avenue</div>
                <div class="af">Affected Areas</div>
                <div class="rocky">Road View</div>

                <img class="view" th:src="@{/cctv/box.svg}"/>
                <img class="purple" th:src="@{/cctv/purple.svg}"/>
                <img class="camera" th:src="@{/cctv/camera.svg}"/>
                <!-- YouTube Video Overlay -->
                <div class="video-container">
                    <div class="video-container">
                        <iframe
                                src="https://www.youtube.com/embed/t45_gP7I82I?autoplay=1&mute=1&si=_Qc5PqbTGt4mIzGz"
                                title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <img class="bullet" th:src="@{/cctv/bullet.svg}"/>
                <img class="affected" th:src="@{/cctv/affected.svg}"/>
                <img class="road" th:src="@{/cctv/road.svg}"/>
            </div>
        </div>
    </div>
</body>
</html>
