<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/globals.css}" />
</head>
<body>
    <div class = "profile>
<div class="div>
        <div class="overlap-group">
            <div class="PHILIPPINE">PHILIPPINE NATIONAL< br />ROAD WATCH</div>
            <img class="logo" th:src="@{/profile/logo.svg}" />
            <div class="overlap"><div class="text-wrapper">SATELLITE
                <div class="div-wrapper"><div class="text-wrapper-2">TRACKER</div>
                    <div class="overlap-2"><div class="text-wrapper-3">PROFILE</div>
                        <img class="icon" th:src="@{/profile/icon-3.svg}" />
                        <img class="img" th:src="@{/profile/icon-2.svg}" />
                        <img class="icon-2" th:src="@{profile/icon-1.svg}" />
                    </div>
                        <img class="contact" th:src="@{/img/contact.svg}  " />
                        <img class="homeaddress" th:src="@{/img/homeaddress.svg}" />
                        <img class="assignedregion" th:src="@{/img/assignedregion.svg}" /
                        <img class="position" th:src="@{/img/position.svg}" />
                        <img class="lastname" th:src="@{/img/lastname.svg}" />
                        <img class="firstname" th:src="@{/img/firstname.svg}" />
                        <div class="overlap-3"><div class="text-wrapper-4">Edit Pr
                            <div class="overlap-4"><div class="text-wrapper-5">Change
                                <div class="text-wrapper-6">PROFILE</div>
    </div>
<div class="desktop">
