<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/style1.css}" />
    <link rel="stylesheet" th:href="@{/globals.css}" />
    <title>Profile Page</title>
</head>
<body>
<div class="profile">
    <div class="div">
        <div class="overlap-group">
            <img class="side" th:src="@{/profile/menu1.svg}"/>
            <div class="PHILIPPINE-NATIONAL">PHILIPPINE NATIONAL<br />ROAD WATCH</div>
            <img class="logo" th:src="@{/profile/logop.svg}" />
            <div class="overlap">
                <div class="text-wrapper">SATELLITE</div>
                <div class="text-wrapper-3">PROFILE</div>
                <div class="text-wrapper-2">TRACKER</div>
            </div>
            <div class="menu">
                <img class="yellow" th:src="@{/profile/yellow.svg}"/>
                <img class="tracker" th:src="@{/profile/MenuW2.svg}"/>
                <img class="satellite" th:src="@{/profile/MenuW3.svg}"/>
            </div>
            <div class="overlap-2">
                <img class="icon" th:src="@{/profile/icon3.svg}" />
                <img class="img" th:src="@{/profile/icon2.svg}" />
                <img class="icon-2" th:src="@{/profile/icon1.svg}" />
                </div>
            <div class="overlap-3">
                <img class="change" th:src="@{/profile/changephoto.svg}"/>
                <img class="edit" th:src="@{/profile/editprofile.svg}"/>
                <div class="text-wrapper-4">Edit Profile</div>
                <div class="text-wrapper-5">Change Photo</div>
            </div>
            <div class="overlap-4">
            <div class="text-wrapper-6">PROFILE</div>
            <img class="pic" th:src="@{/profile/pic.svg}" />
            <div class="text-wrapper-7">First Name</div>
            <div class="text-wrapper-8">Position</div>
            <div class="text-wrapper-9">Assigned Region</div>
            <div class="text-wrapper-10">Home Address</div>
            <div class="text-wrapper-11">Contact Number</div>
            <div class="text-wrapper-12">Last Name</div>
            <img class="infos" th:src="@{/profile/placeholders.svg}"/>
            </div>
    </div>
</div>
</body>
</html>
