<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/style4.css}" />
    <link rel="stylesheet" th:href="@{/globals.css}" />
    <title>Projects</title>
</head>
<body>
<div class="profile">
    <div class="div">
        <div class="overlap-group">
            <img class="side" th:src="@{/projects/menu1.svg}"/>
            <div class="PHILIPPINE-NATIONAL">PHILIPPINE NATIONAL<br />ROAD WATCH</div>
            <img class="logo" th:src="@{/projects/logop.svg}" />
            <div class="overlap">
                <div class="text-wrapper">SATELLITE</div>
                <div class="text-wrapper-3">PROFILE</div>
                <div class="text-wrapper-2">TRACKER</div>
                <div class="projects">Projects</div>
                <div class="cv">CCTV View</div>
            </div>
            <div class="menu">
                <img class="yellow" th:src="@{/projects/yellow.svg}"/>
                <img class="tracker" th:src="@{/projects/MenuW2.svg}"/>
                <img class="satellite" th:src="@{/projects/MenuW3.svg}"/>
                <img class="line" th:src="@{/projects/line.svg}"/>
            </div>
            <div class="overlap-2">
                <img class="icon" th:src="@{/projects/icon3.svg}" />
                <img class="img" th:src="@{/projects/icon2.svg}" />
                <img class="icon-2" th:src="@{/projects/icon1.svg}" />
            </div>
            <div class="overlap-4">
                <div class="text-wrapper-6">PROJECTS</div>
                <div class="ed">Edit</div>
                <div class="nx">Next</div>
                <img class="con" th:src="@{/projects/container.svg}"/>
                <img class="arrow" th:src="@{/projects/arrow.svg}"/>
            </div>
        <div class="data">
            <div class="head">
                <div class="hid">Highway ID</div>
                <div class="bara">Barangay</div>
                <div class="ct">City</div>
                <div class="pn">Project No.</div>
                <div class="date">Date</div>
                <div class="is">Issue</div>
                <div class="stat">Status</div>
            <div class="id">
                <div class="no">#000000</div>
                <div class="no2">#000000</div>
                <div class="no3">#000000</div>
            <div class="brgy">
                <div class="br">Brgy.Kauswagan</div>
                <div class="br2">Brgy.Kauswagan</div>
                <div class="br3">Brgy.Kauswagan</div>
            <div class="cty">
                <div class="cdo">Cagayan de Oro</div>
                <div class="cdo2">Cagayan de Oro</div>
                <div class="cdo3">Cagayan de Oro</div>
            <div class="num">
                <div class="pn">00000</div>
                <div class="pn2">00000</div>
                <div class="pn3">00000</div>
            <div class="crack">
                <div class="cr">Crack</div>
                <div class="cr2">Crack</div>
                <div class="cr3">Crack</div>
            <div class="datte">
                <div class="mdy">mm/dd/yyyy</div>
                <div class="mdy2">mm/dd/yyyy</div>
                <div class="mdy3">mm/dd/yyyy</div>
            <div class="fine">
                <div class="fin">Finished</div>
                <div class="fin2">Finished</div>
                <div class="fin3">Finished</div>
            </div>
        </div>
    </div>
</body>
</html>
