<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/style2.css}" />
    <link rel="stylesheet" th:href="@{/globals.css}" />
    <title>Satellite View</title>
</head>
<body>
<div class="profile">
    <div class="div">
        <div class="overlap-group">
            <img class="side" th:src="@{/satellite/menu1.svg}"/>
            <div class="PHILIPPINE-NATIONAL">PHILIPPINE NATIONAL<br />ROAD WATCH</div>
            <img class="logo" th:src="@{/satellite/logop.svg}" />
            <div class="overlap">
                <div class="text-wrapper">SATELLITE</div>
                <div class="text-wrapper-3">PROFILE</div>
                <div class="text-wrapper-2">TRACKER</div>
            </div>
            <div class="menu">
                <img class="yellow" th:src="@{/satellite/yellow.svg}"/>
                <img class="tracker" th:src="@{/satellite/MenuW2.svg}"/>
                <img class="satellite" th:src="@{/satellite/MenuW3.svg}"/>
            </div>
            <div class="overlap-2">
                <img class="icon" th:src="@{/satellite/icon3.svg}" />
                <img class="img" th:src="@{/satellite/icon2.svg}" />
                <img class="icon-2" th:src="@{/satellite/icon1.svg}" />
            </div>
            <div class="overlap-4">
                <div class="text-wrapper-6">SATELLITE VIEW</div>
                <img class="view" th:src="@{/satellite/box.svg}"/>

            </div>
        </div>
    </div>
</body>
</html>
